@model Book

<div
    class="w-full sm:w-1/2 md:w-1/3 flex flex-col bg-white my-2 lg:my-0 mx-2 shadow"
>
    <img data-random class="w-full" />

    <div class="flex-1 p-4">
        <h2 class="text-xl py-2">@Model.Title</h2>
        <p>by @Model.Author</p>
    </div>

    <div class="p-4 mb-4 bg-green-100 text-green-700 flex justify-between">
        <p>@Model.Price.ToString("c")</p>
        <abbr title="ISBN">@Model.ISBN</abbr>
    </div>
    @await Component.InvokeAsync("AddToCart", @Model.ProductId)
</div>
